---
import BaseLayout from "@layouts/BaseLayout.astro";

import { getLocalePath, t } from "i18n:astro";
import { getOptimizedImage } from "@utils/utils";

import HeroLight from '@components/Heroes/HeroLight.astro';
import ServiceSquares from '@components/Services/ServiceSquares.astro';

import WhyUs3 from '@components/WhyUs/WhyUs3.astro';

import FeaturedSingle from '@components/Featured/FeaturedSingle.astro';
import FeaturedSingleR from '@components/Featured/FeaturedSingleR.astro';
import Review2 from '@components/Reviews/Review2.astro';

import FAQwithImageR from '@components/FAQs/FAQwithImageR.astro';
import CTAFullWidth from '@components/CTAs/CTAFullWidth.astro';

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Hero (for rendering)
import landingImage from "@assets/images/hero.jpg"; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
import mobileLandingImage from "@assets/images/hero-m.jpg"; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedLandingImage = await getOptimizedImage(landingImage);
const optimizedMobileLandingImage = await getOptimizedImage(mobileLandingImage);
---

<BaseLayout title={t("home:layout.title")} description={t("home:layout.description")} preloadedImage={optimizedMobileLandingImage}>


<HeroLight />

<ServiceSquares />

<WhyUs3 />

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-379">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Treatment Space</span>
            <h2 class="cs-title">A Look Inside Amika Thai Massage & Wellness</h2>
            <p class="cs-text">
                Step into our professional home studio in Bedford. A dedicated, calm environment designed for your comfort and therapeutic care. Our treatment space meets all health and safety standards whilst providing the peaceful atmosphere you need to relax and heal.
            </p>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
             <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal1-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal1.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal1.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
             <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal2-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal2.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal3-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal3.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
             <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal4-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal4.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
             <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal5-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal5.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
             <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal6-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal6.webp">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/gal6.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
    </div>
</section>
                                
                                

<FeaturedSingle />

<Review2 />

<FeaturedSingleR />

<FAQwithImageR />

<CTAFullWidth />

</BaseLayout>

<style lang="less">
	
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-379 {
        padding: var(--sectionPadding);
        padding-top: 0;
        
        .cs-container {
            width: 100%;
            max-width: (955/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-gallery {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-image {
            width: 46%;
            /* 150px - 300px */
            height: clamp(9.375rem, 39vw, 18.75rem);
            max-width: (350/16rem);
            /* clips the image corners */
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }
    }

}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #gallery-379 {
        .cs-image {
            width: 32.8%;
            max-width: (305/16rem);
            /* 300px - 400px */
            height: clamp(18.75rem, 30vw, 25rem);
            aspect-ratio: 1;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-379 {
            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title, .cs-text {
                color: var(--bodyTextColorWhite);
            }
            .cs-text {
                opacity: .8;
            }
        }
    }
}
                                

                                
	
</style>
