---
import { Picture } from "astro:assets";
const { title, image } = Astro.props
---

<section id="int-hero">
    <h1 id="home-h">{title}</h1>

    <Picture 
        src={image.src}
        width={image.attributes.width}
        height={image.attributes.height}
        formats={['avif', 'webp']} 
        aria-hidden="true" 
        decoding="async"
        alt=""
        loading="eager"
    />
</section>

<style lang="less">
    /* Mobile */
    @media only screen and (min-width: 0em) {
        #int-hero {
            min-height: 30vh;
            padding-top: (50/16rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background: #FFF3EC;
                opacity: 0.7;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            picture {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -2;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            h1 {
                font-size: var(--headerFontSize);
                text-align: center;
                width: 96%;
                max-width: (500/16rem);
                margin: 0 auto;
                margin-top: (70/16rem);
                margin-bottom: (30/16rem);
                color: var(--headerColor);
                position: relative;
            }

            p {
                text-align: center;
                width: 96%;
                max-width: (400/16rem);
                margin: auto;
                margin-bottom: (30/16rem);
                color: #fff;
                display: block;
            }
        }
    }

    /* Small Desktop */
    @media only screen and (min-width: 64em) {
        #int-hero {
            height: auto;
            min-height: (300/16rem);
            padding-top: (180/16rem);
            background-attachment: fixed;
            padding-block-end: (100/16rem);
        }
    }

    /* Dark Mode */
    @media only screen and (min-width: 0rem) {
        body.dark-mode {
            #int-hero {
                /* REMOVE: opacity: .2; */
                /* REMOVE: background-color: var(--dark); */
                /* REMOVE: z-index: -1; */

                &:before {
                    background: var(--dark);  /* ADD THIS - change overlay color */
                    opacity: 0.8;  /* ADD THIS - adjust overlay opacity */
                }

                h1 {
                    color: var(--bodyTextColorWhite);
                }

                p {
                    color: var(--bodyTextColorWhite);  /* ADD THIS - make paragraph white too */
                }
            }
        }
    }
</style>
